---
import episodios from '../../data/Episodios.json';
import Layout from '../../layouts/Layout.astro';
import SeParte from '../../components/SeParte.astro';
import Categorias from '../../components/Categorias.astro';
import SobreMi from '../../components/SobreMi.astro';
import Invitados from '../../components/Invitados.astro';
import Escuchalo from '../../components/Escuchalo.astro';

export async function getStaticPaths() {
  return episodios.map(
    ({
      numero,
      titulo,
      descripcion,
      invitados,
      links,
      transcripcion,
    }) => {
      return {
        params: { numero },
        props: {
          numero,
          titulo,
          descripcion,
          invitados,
          links,
          transcripcion,
        },
      };
    }
  );
}

const {
  numero,
  titulo,
  descripcion,
  invitados,
  links,
  transcripcion,
} = Astro.props;
---

<Layout title={`Episodio ${numero}`}>
  <main class='w-full flex flex-col justify-start items-center py-5 gap-10'>
    <div
      class='w-full bg-[var(--blue)] flex justify-center items-center text-center py-10 text-xl md:text-4xl text-black transition-all duration-300'
    >
      <h1 class='w-[85%]'>
        {numero}. {titulo}
      </h1>
    </div>
    <div class='w-[85%] flex flex-col gap-10'>
      <p class='text-center whitespace-pre-line'>{descripcion}</p>
    </div>
    <Escuchalo links={links} />
    {invitados?.map((invitado) => <Invitados invitado={invitado} />)}
    {
      transcripcion && (
        <div class='w-[85%] flex flex-col gap-5 justify-start items-center'>
          <h1 class='ft-title text-3xl'>Transcripción del episodio</h1>
          <p>{transcripcion}</p>
        </div>
      )
    }
    <Categorias />
    <SeParte />
    <SobreMi />
  </main>
</Layout>
