---
import Episodio from './Episodio.astro';
import { type Episodio as EpisodioType } from '../types/Types';
import episodiosTotales from '../data/Episodios.json';
import { Image } from 'astro:assets';

interface Props {
  episodios?: EpisodioType[];
}

const { episodios = episodiosTotales } = Astro.props;
---

<div class='w-[85%] flex flex-wrap justify-evenly gap-5'>
  {
    episodios.map((episodio) => (
      <Episodio
        color={episodio.color}
        descripcion={episodio.titulo}
        numero={episodio.numero}
      >
        <Image
          width={3000}
          height={3000}
          src={`/assets/episodios/${episodio.numero}.png`}
          alt={`${episodio.numero}. ${episodio.titulo}`}
        />
      </Episodio>
    ))
  }
</div>
